.contact i.fa,
.contact-desc {
	margin-left: 20px;
	margin-bottom: 30px;
}

.contact i.fa {
	display: block;
	margin-right: 20px; 
	font-size: 1.5rem;
	border: 2px solid #F4B400;
	text-align: center;
	min-width: 55px;
	height: 55px;
	line-height: 51px;
}

@media (max-width: 768px) {
	.row-flex {
		margin-left: 10%;
	}
}